.map {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    top: -1px;
    left: 0;

    width: 100%;
    height: 0;
    padding-bottom: 10.4201%;

    background-image: linear-gradient(11deg, rgba($body-bg-color, 0) 50%, $body-bg-color 50%), linear-gradient(-11deg, rgba($body-bg-color, 0) 50%, $body-bg-color 50%);
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, 100% 0;
    background-size: 50.01% 100%, 50.01% 100%;
  }

  @supports (clip-path: polygon(0% 0%, 100% 0%, 50% 100%)) {
    &::after {
      background: none;
      background-color: $body-bg-color;
      clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    }
  }
}

.map__illustration {
  position: relative;

  width: 100%;
  height: 11.1111em;
  margin: 0;

  overflow: hidden;

  &::after {
    content: "";

    position: absolute;
    left: 8em;
    right: 0;
    bottom: 3.8888em;

    width: 2em;
    height: 1.9444em;
    margin: 0 auto;

    background-color: $pink-color;
    border: 0.5555em solid $body-bg-color;
    border-radius: 50%;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    &::after {
      left: 0;
    }
  }
}

.map__image {
  position: absolute;

  left: 0;
  right: 0;
  bottom: -12.75em;

  width: auto;
  height: auto;
  margin: 0 auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    bottom: 0;
  }
}

.map__interactive {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin: 0;

  &--hidden {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .map__illustration {
    height: 20.7777em;

    &::after {
      left: 8em;
      bottom: 8.0555em;
    }
  }

  .map__image {
    bottom: -19.5em;
  }
}


@media (min-width: $desktop-width) {
  .map {
    overflow: hidden;
  }

  .map__illustration {
    max-width: 66.6666em;
    height: 27.8333em;
    margin: 0 auto;

    &::after {
      left: 11.25%;
      bottom: auto;
      top: 0;

      margin-top: 25%;
    }
  }

  .map__image {
    bottom: auto;
    top: 0;
  }
}
