.radio__label {
  position: relative;

  display: block;
  width: 100%;
  min-height: 2.6666em;
  padding-top: 0.2222em;
  padding-bottom: 0.7777em;
  padding-left: 25%;

  font-size: inherit;
  line-height: 1.6666em;
  color: inherit;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    right: 75%;

    width: 1.9444em;
    height: 1.9444em;
    margin-right: 1.8333em;
    margin-top: 0.1111em;

    background-color: $body-bg-color;
    border: 0.5555em solid $body-bg-color;
    border-radius: 50%;
    box-shadow: 0 0 0 0.1111em $border-color;
  }
}

.radio__input:checked + .radio__label::before {
  background-color: $pink-color;
}

.radio__label:hover::before,
.radio__input:focus + .radio__label::before {
  box-shadow: 0 0 0 0.1111em $body-color;

  @include hover-transition();
}

.radio__input:focus + .radio__label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color; /* stylelint-disable-line */
}

.radio__label:active::before {
  box-shadow: 0 0 0 0.1111em $pink-color;
}

@media (min-width: $tablet-width) {
  .radio__label {
    padding-left: 11.6935%;

    &::before {
      right: auto;
      left: 0;

      margin-right: 0;
      margin-left: 0.1111em;
    }
  }
}

@media (min-width: $desktop-width) {
  .radio__label {
    padding-left: 19.8653%;
  }
}
